@import "./variables/variables";


.slider{
    width: 100%;
    height: auto;
    background: $black;
    .slider__container{
        @include container;

        .slider__content{
            @include content;
            
            p{
                @include phead;

            }
            h2{
                @include h2;
                color: $white;
            }
            div{
                @include pfooter;
                text-transform: capitalize;
            }
        }
        .mySwiper{
            width: 100%;
            height: auto;
            margin-top: 3rem;
            .swiper__item{
                margin-bottom: 5rem;
                width: 100%;
                align-items: center;
                .item{
                    background: $white;
                    color: $text;
                    margin: auto;
                    margin-bottom: 1rem;
                    max-width: 23rem;
                    padding: 5rem;
                    position: relative;
                    &::before{
                        content: '';
                        position: absolute;
                        top: 0;
                        right: 0;
                        background: $maincolor;
                        width: .5rem;
                        height: 0;
                        transition: all .3s ease;
                    }
                    &:hover::before{
                        height: 100%;
                    }
                    i{
                        font-size: 5rem;

                    }
                    p{
                        font-size: 1.4rem;
                    }
                }
            }

            .panigation__button{
                transition: all .5s ease;
                .swiper-pagination-bullet{
                    background: $white;
                    width: 1.5rem;
                    height: 1.5rem;
                    display: inline-block;
                    transition: all .5s ease;
                }
                span.swiper-pagination-bullet.swiper-pagination-bullet-active{
                    background: $maincolor;
                    
                }
                &:hover{
                    .swiper-pagination-bullet{
                        padding: 0 .3rem;
                        background-color: white;
                    }
                } 
            }
        }
    }
}